name: Push

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    uses: ./.github/workflows/build-base.yml
    secrets:
      SIGNPATH_API_TOKEN: ${{ secrets.SIGNPATH_API_TOKEN }}
  
  lint-backend:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup
        with:
          frontend: false
          skip-wails: true

      - name: Create frontend/build embed directory
        run: |
          mkdir -p frontend/build
          echo "" > frontend/build/.gitkeep

      - uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6
          only-new-issues: true
          
  lint-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Generate wails bindings
        run: |
          # Apparently only wails build generates the embedded directory 
          mkdir -p frontend/build
          touch frontend/build/.gitkeep
          wails generate module -tags webkit2_41
      
      - name: Install dependencies
        working-directory: frontend
        run: pnpm install

      - name: Lint
        working-directory: frontend
        run: |
          pnpm lint
          pnpm check
